{% extends 'base.html.twig' %}
{% block title %}Hello HomePage!{% endblock %}


{% block body %}


    <div class="example-wrapper">

    <h1>Formulaire de connexion</h1>
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Pseudo</label>
        <input type="text" id="username" name="_username" class="form-control">
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" class="form-control">
        <button type="submit" class="btn btn-primary mt-4">login</button>
        &nbsp;
        <a href="{{ path("app_home") }}"><button class="btn btn-outline-secondary mt-4">retour</button></a>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>

    </div>

{% endblock %}
