{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticle !{% endblock %}

{% block body %}

    <div class="example-wrapper">
    <h1>Créer un article</h1>
    <p>Veuilez renseigner les champs ci-dessous :</p>
    <br>
    <form action="{{ path("app_createArticle") }}" method="POST">
    <label for="titre">Titre : </label><input class="form-control" type="text" name="titre" id="titre" placeholder="Titre de l'article">
    <label for="titre">Description : </label><input class="form-control" type="text" name="description" id="description" placeholder="Description de l'article">
    <label for="titre">Tag : </label><input class="form-control" type="text" name="tag" id="tag" placeholder="Tag">
    <br>
    <button type="submit" name="submit" class="btn btn-primary">Ajouter</button>
    &nbsp; <a href="{{ path('app_article') }}" ><button type="button" class="btn btn-outline-secondary">Annuler </button></a>

    </form>

    {{ message }}

    <br>
    <br>

    
    </div>

{% endblock %}
