{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticle !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
    <h1>Créer un article</h1>
    <p>Formulaire pour créer un article :</p>
    <br>
    <form action="{{ path("app_createArticle") }}" method="POST">
    <input class="form-control" type="text" name="titre" id="titre" placeholder="Titre de l'article">
    <input class="form-control" type="text" name="description" id="description" placeholder="Description de l'article">
    <input class="form-control" type="text" name="tag" id="tag" placeholder="Tag">
    <button type="submit" name="submit" class="btn btn-primary">Ajouter</button>
    </form>

    {{ message }}

    <br>
    <br>

    
    </div>

{% endblock %}
