{% extends 'base.html.twig' %}

{% block title %}Article supprimé !{% endblock %}

{% block body %}

    <div class="example-wrapper">
    <h1>Suppression d'un article</h1>

     <p>{{ message }} </p>

{% endblock %}
