{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
    <h1>Détail d'un article</h1>
    
    <br>

    <label>Titre :</label>
    <table>
    <tr><td>{{ article.titre }}</td></tr>
    </table>

    <br>

    <label>Description :</label>
    <table>
    <tr><td>{{ article.description }}</td></tr>
    </table>

    <br>

    <label>Tag :</label>
    <table>
    <tr><td>{{ article.tag }}</td></tr>
    </table>

    <br>

    <a href="{{ path('app_article') }}" ><button type="button" class="btn btn-primary mt-4">Retour </button></a>


{% endblock %}
